* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #272727;
    color: white;
}

header {
    background-color: #141414;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 0 0 auto; /* El logo mantiene su tamaño */
}

    .logo img {
        width: 200px;
        height: auto;
    }

.contenedor-principal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    padding: 10px;
    gap: 10px;
    background-color: none;
    border-radius: 8px;
}

    .contenedor-principal .elemento {
        padding: 5px 10px;
        background-color: none;
        color: white;
        border-radius: 5px;
        border: 1px solid #555;
        font-size: 14px;
    }

.barrabusqueda {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #1f1f1f;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #333;
}

.search-bar {
    flex: 1;
    max-width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #333;
    border: 1px solid #555;
    color: white;
    border-radius: 5px;
    outline: none;
    margin-left: 10px;
}

    .search-bar::placeholder {
        color: #888;
        opacity: 1;
    }

.search-bt {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.clear-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}





.form-group {
    display: flex;
    align-items: center;
}

.search-bt, .search-bar, .clear-btn {
    margin: 0 5px;
}

.auth-separator {
    margin: 0 10px;
    color: white;
    font-size: 20px;
}

.auth-buttons-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.auth-buttons {
    padding: 12px 10px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: normal;
    color: white;
}

.auth-separator {
    font-size: 25px;
    color: white;
}


.header-divider {
    width: 100%;
    height: 1px;
    background-color: #1a1a1a;
    margin-top: 20px;
}

.img-perfil {
    height: 50px;
    width: 45px;
    border-radius: 50%;
}

main {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #272727;
    padding: 20px;
}

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar li {
        padding: 5px;
        font-size: 16px;
        color: white;
        border-bottom: 2px solid #7c7c7c;
        cursor: pointer;
    }

        .sidebar li:last-child {
            border-bottom: none;
        }

.subjects-list {
    list-style-type: none;
    padding-left: 20px;
    display: none;
}

.career-name {
    cursor: pointer;
}

.toggle {
    font-size: 12px;
    margin-left: 5px;
    visibility: hidden; /* Por defecto el triángulo está oculto */
}

.subjects-list.show + .career-name .toggle {
    visibility: visible; /* Mostrar cuando la lista está abierta */
    transform: rotate(180deg); /* Girar el triángulo hacia arriba */
}

.career-divider {
    border: none;
    border-top: 2px solid #7c7c7c;
    margin: 15px 0;
}

.subjects-list li {
    border-bottom: 1px solid #555;
    padding: 5px 0;
}

    .subjects-list li:last-child {
        border-bottom: none;
    }

.career-name {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
}



.content {
    flex: 1;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.featured, .suggestions {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.play-btn {
    font-size: 30px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
}

.card:hover .overlay {
    display: flex;
}

button.toggle {
    width: 100%;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    color: white;
    border-bottom: transparent solid #7c7c7c; /* Borde entre los ítems */
    border: transparent;
}

    button.toggle:focus {
        outline: none;
    }

    button.toggle:hover {
        background-color: #555;
    }

.submenu {
    margin-top: 5px;
    margin-left: 15px;
}

.regresar-btn {
    width: 8%;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    border-bottom: transparent solid #7c7c7c; /* Borde entre los ítems */
    border: transparent;
}

.linea-verde {
    width: 100%; /* Ancho completo */
    height: 5px; /* Alto de la línea */
    background-color: #00723f; /* Color verde */
}

.linea-amarilla {
    width: 100%; /* Ancho completo */
    height: 5px; /* Alto de la línea */
    background-color: #dd971a; /* Color amarillo */
}

/* Login */

bodylogin {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #222 url('uabc_campus.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-login {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.header-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

    .header-login .line-login {
        flex: 1;
        height: 2px;
        background-color: #4CAF50;
    }

    .header-login h1 {
        font-size: 24px;
        margin: 0 10px;
    }

    .header-login .icon-login {
        color: #fff000; /* Amarillo para el ícono ▶ */
    }



/* testing para materias */

.form-row {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-dropdown {
    background-color: #2a2a2a;
    color: white;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.materia-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.materia-input {
    background-color: #2a2a2a;
    color: white;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 5px 10px;
    flex-grow: 1;
    font-size: 14px;
}

.materia-button {
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

    .materia-button:hover {
        background-color: #666;
    }

.add-button {
    font-weight: bold;
}

.search-button {
    font-size: 16px;
}

.Placeholder {
    width: 15px;
}

/* para los input textbox */
.no-resize {
    resize: none;
}
