
﻿ /* Estilado Base para body */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Permitir el scroll si es necesario */
}

/* Fondo de la página */
/* Estilado base para el body */
body {
    font-family: Arial, sans-serif;
    background-image: url('../Imagenes/uabc_campus.png');
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen para una mejor experiencia visual */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    position: relative;
    min-height: 100vh;
    margin: 0; /* Elimina cualquier margen por defecto */
    padding: 0;
}

    /* Capa oscura para mejorar la visibilidad del contenido */
    body::before {
        content: '';
        position: absolute;
        top: 0; /* Colocamos la capa desde la parte superior de la pantalla */
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8); /* Capa oscura */
        z-index: -1; /* Colocamos la capa detrás de todo el contenido */
    }

/* Encabezado */
#header {
    background-color: #1A1A1A;
    padding: 8.4vh 0;
    text-align: center;
    height: 20%;
    z-index: 10; /* Aseguramos que el encabezado esté por encima de la capa oscura */
}


/* Posición del logo - centrado entre header y el formulario */
#login-logo {
    position: relative;
    top: -75px; /* Aseguramos espacio entre el logo y el contenido */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    text-align: center;
}

    #login-logo img {
        width: 20vw;
        height: auto;
    }

/* Responsividad para diferentes tamaños */
@media (max-width: 768px) {
    #login-logo img {
        width: 20vw;
    }
}

@media (max-width: 480px) {
    #login-logo img {
        width: 25vw;
    }
}

/* Contenedor del formulario principal */
#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    position: relative;
    z-index: 4;
    margin: -40px auto;
}

    /* Campos dentro del formulario */
    #login-container input {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #aaa;
        border-radius: 5px;
        font-size: 16px;
    }

/* Botón de envío */
#login-button {
    width: 100%;
    padding: 15px;
    background-color: #008000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

    #login-button:hover {
        background-color: #006600;
    }


/* Botón de inicio de sesión */
[id$="btnLogin"] {
    width: 60% !important;
    padding: 10px;
    margin: 10px 0;
    background-color: #00723F;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


    [id$="btnLogin"]:hover {
        background-color: #5B5B5B;
    }

[id$="lblError"],
.form-label {
    width: 100%; /* Se asegura de que ocupe el ancho disponible */
    max-width: 400px; /* Limita el tamaño máximo del texto */
    font-size: 1em; /* Se ajusta dinámicamente con la pantalla */
    text-align: left;
    color: #ddd;
    padding: 0px 0;
    box-sizing: border-box;
    transition: font-size 0.2s ease; /* Efecto de transición suave */
}
/* Enlace de registro */
#login-register-link {
    margin-top: 10px;
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
}

    #login-register-link:hover {
        color: #fff;
    }


/********************************************************************************************************/
/* Contenedor del formulario de registro */
#register-container {
    min-height: 30vh; /* Asegura que el contenedor tenga al menos el alto de la pantalla */
    background-color: rgba(0, 0, 255, 0.0); /* Color azul con 50% de transparencia */
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin: -110px auto 0;
    text-align: center;
    z-index: 1000;
    position: relative;
}

    #register-container input,
    #register-container select {
        width: 100%;
        padding: 15px;
        margin: 8px 0;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }

    #register-container label {
        display: block;
        text-align: left;
        font-size: 14px;
        color: #ddd;
        margin-bottom: 5px;
    }


/* Botón de registro */
[id$="btnRegistro"] {
    margin-top: 4px !important;
    align-content: center;
    width: 80% !important;
    height: 40px;
    padding: 0px;
    background-color: #DD971A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-variant-position: normal;
    line-height: 10px; /* Ajusta la altura del texto al centro del botón */
    text-align: center;
}

    [id$="btnRegistro"]:hover {
        background-color: #5B5B5B;
        /*        #5B5B5B*/
    }

#carrera-container {
    display: none; /* Oculto por defecto */
    margin-top: 15px;
}


/* Logo encimado entre header y contenido */
#camara-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s ease;
}

#login-logo img {
    width: 450px; /* Ajusta el tamaño del logo */
    height: auto;
}

#camara-logo img {
    width: 100px; /* Ajusta el tamaño del logo */
    height: auto;
}

/* Contenedor principal para las franjas */
#strip-container {
    position: relative;
    height: 100vh; /* Asegura que el contenedor de las franjas tenga el tamaño adecuado */
    width: 100%;
}

/* Franja verde en la parte superior */
.bicolor-strip-green {
    position: absolute; /* Se moverá con el contenido del contenedor */
    left: 0;
    top: 17.5vh;
    height: 0.5vh;
    width: 38vw;
    background-color: #00723F;
    z-index: 1000;
}

.bicolor-strip-amarilla {
    position: absolute;
    left: 0;
    top: 18.1vh;
    height: 0.5vh;
    width: 38vw;
    background-color: #DD971A;
    z-index: 1000;
}

.bicolor-strip-green-right {
    position: absolute;
    left: 62%;
    top: 17.5vh;
    height: 0.5vh;
    width: 38vw;
    background-color: #00723F;
    z-index: 1000;
}

.bicolor-strip-amarilla-right {
    position: absolute;
    left: 62%;
    top: 18.1vh;
    height: 0.5vh;
    width: 38vw;
    background-color: #DD971A;
    z-index: 1000;
}



/* Estilado para la sombra */
#shadow-bottom {
    position: fixed;
    bottom: -6.5%;
    left: 0;
    width: 100%;
    height: 50px; /* Altura ajustable de la sombra */
    box-shadow: 0 -20px 70px rgba(0, 0, 0, 1.5);
    pointer-events: none; /* Para evitar que interactúe con clics u otros eventos */
}

[id$="tbNombreCompleto"], [id$="tbCorreo"], [id$="tbContraseña1"], [id$="tbContraseña2"] {
    width: 100%;
    height: 40px;
    padding: 15px;
    background-color: #fff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.docente-check-container {
    display: absolute;
    justify-content: flex-start;
    margin: 10px;
}

.docente-options {
    display: flex; /* Alineación horizontal */
    gap: 20px; /* Espacio entre las opciones */
    align-items: center; /* Alineación vertical */
}

.form-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: normal; /* Quitar el texto en negrita */
}

/* Estilo para los RadioButtons personalizados */
input[type="radio"][id$="rbDocenteSi"],
input[type="radio"][id$="rbDocenteNo"] {
    width: 10px; /* Tamaño más pequeño */
    height: 10px;
    appearance: none; /* Sin estilos predeterminados */
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
}

/* Contenedor horizontal de las opciones */
[id$="docenteOptions"] {
    display: flex; /* Alinear horizontalmente */
    gap: 10px; /* Espacio entre los botones */
    align-items: center;
}

/* Texto "Sí"/"No" en color blanco */
[id$="formOption"] span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.span{
    color:white;
}

#back-to-login {
    font-family: Arial;
    color: white !important; /* Asegura el color blanco */
    text-decoration: none !important;
    font-weight:lighter !important; /* Elimina el subrayado */
}

    /* Opcional: Cambiar el color al pasar el cursor */
    #back-to-login:hover {
        color: #ddd; /* Un color claro al pasar el cursor */
    }