
/* BEGIN EXTERNAL SOURCE */
img {
max-height: 50px;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
div {
max-width: 500px;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
div {
height: 4px;
}
/* END EXTERNAL SOURCE */
